<header>
			<h1 class="logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
			<nav>
				<ul class="navigation">
	        <li><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
          <li><a href="{{ "/archive" | prepend: site.baseurl }}">Posts</a></li>
          <li><a href="{{ "/about" | prepend: site.baseurl }}">About</a></li>
		  <li><a href="{{ "/imprint" | prepend: site.baseurl }}">Imprint</a></li>
          <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
				</ul>
			</nav>
</header>
